.about-container {
    background-color: #FFFFFF;
    box-shadow: 0 3px 7px #777;
    max-width: 50vw;
    border-radius: 1vw;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    padding-top: 2.5vh;
    padding-bottom: 2.5vh;
    margin-top: 5vh;
}

.about-header {
    margin-top: 50px;
    font-size: 2.4vw;
}

.hline {
    margin-top: 10px;
    margin-bottom: 0;
}

.about-text {
    font-size: 1.2vw;
}

.px {
    margin-top: 1.2vw;
}

.image-abt {
    margin-top: 4vh;
    margin-left: 2vw;
    max-height: 100%;
    max-width: 100%;
}

@media only screen and (max-width: 992px) {
    .about-header {
        font-size: 24px;
    }
    .about-text {
        font-size: 16px;
    }
    .px {
        margin-top: 20px;
    }
}

@media only screen and (max-width: 767px) {
    .image-abt {
        margin-top: 20%;
    }
}

@media only screen and (max-width: 575px) {
    .image-abt {
        width: 0;
    }
    .abt-left-col {
        width: 100%;
        max-width: 100%;
        flex: 0 0 100%;
    }
}