.project-header {
    margin-top: 50px;
    font-size: 2.4vw;
}

.projects-container {
    background-color: #F5F5F5;
}

.projects-proj {
    background-color: #FFFFFF;
    padding: 20px 30px;
    box-shadow: 0 3px 7px #777;
    transition: transform .2s;
}

.projects-proj:hover {
    transform: scale(1.03);
    cursor: pointer;
}

.projects-proj-name {
    font-size: 20px;
    font-weight: bold;
}

.projects-proj-desc {
    margin-top: 10px;
}

.projects-proj-langs {
    margin-top: 15px;
}

.projects-proj-langs-btn:disabled, .btn.btn-primary:disabled {
    background-color: #5277F1;
    border-color: #3277F1;
    opacity: 1;
}

.off {
    margin-left: 15px;
}

@media only screen and (max-width: 992px) {
    .project-header {
        font-size: 24px;
    }
}

@media only screen and (max-width: 767px) {
    .projects-proj-langs {
        flex: 0 0 100%;
    }
    .nline {
        margin-left: 0;
        margin-top: 15px;
    }
}

@media only screen and (max-width: 500px) {
    .off {
        margin-left: 15px;
        margin-top: 0;
    }
    .col-compressed {
        margin-top: 20px;
    }
    .row-rem-spacing {
        margin-top: 20px;
    }
}

@media only screen and (max-width: 368px) {
    .fast {
        margin-left: 0;
        margin-top: 15px;  
        width: 120px;  
    }
}

@media only screen and (max-width: 328px) {
    .slow {
        margin-left: 0;
        margin-top: 15px;  
        width: 160px;   
    }
}