.project-header {
    margin-top: 50px;
    font-size: 2.4vw;
}

.projects-container {
    background-color: #F5F5F5;
}

.projects-proj {
    background-color: #FFFFFF;
    padding: 20px 30px;
    box-shadow: 0 3px 7px #777;
    transition: transform .2s;
}

.projects-proj:hover {
    transform: scale(1.03);
    cursor: pointer;
}

.projects-proj-name {
    font-size: 20px;
    font-weight: bold;
}

.projects-proj-desc {
    margin-top: 10px;
}

.projects-proj-langs {
    margin-top: 15px;
}

.projects-proj-langs-btn:disabled, .btn.btn-primary:disabled {
    background-color: #5277F1;
    border-color: #3277F1;
    opacity: 1;
}

.off {
    margin-left: 15px;
}
